
<!--Customers details table-->
<table class="table table-bordered table-striped table-hover">
    <thead>
    <th>Customer Id</th>
    <th>Name</th>
    <th>Phone No</th>
    <th>Address</th>
    <th>Total Bill</th>

    <th>&nbsp;</th>
</thead>
<tbody>
    <tr ng-repeat="cust in customers">
        <td ng-bind="cust.id"></td>
        <td ng-bind="cust.name"></td>
        <td ng-bind="cust.phno"></td>
        <td ng-bind="cust.add"></td>
        <td ng-bind="cust.tot | currency"></td>
        <td><a href="#/orders/{{cust.id}}">View Orders</a></td>
    </tr>
</tbody>
</table>
<br/>
<p>Total customers:<span ng-bind="customers.length"></span></p>