<p>Orders</p>
<!--customers orders table-->
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Total</th>

        </tr>
    </thead>
    <tbody>     
        <tr ng-repeat="order in orders">
            <td ng-bind="order.id"></td>
            <td ng-bind="order.product"></td>
            <td ng-bind="order.total | currency"></td>
        </tr>
    </tbody>
</table>